<header>
    <p>{{site.title}}</p>
    <nav class="navigation">
            <ul>
                {% for item in site.navigation %}
                <li>
                <a href="{{ item.url }}"
                {% if item.url in page.url %}
                {% set currentAttribute = 'aria-current="page"' %}
                {% endif %}>
                {{ item.label }} </a>
                </li>
                {% endfor %}
            </ul>
    </nav>
</header>